.main{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;


    &__heading{
        display: flex;
        justify-content: baseline;
    }


    &__bench-location{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}